
<div class="row">

<div class= "card">
<div class="imgwa">
  <img class="img" src="assets/images/home.jpg">
  <ul class="member animate list-inline text-center">
    <li class="list-inline-item">
      <button class=" btn btn-info"><i class="fa-solid fa-pen-to-square"></i></button>
    </li>
    <li class="list-inline-item">
      <button class=" btn btn-info"><i class="fa-solid fa-phone"></i> </button>
    </li>
    </ul>
  </div>

  <div class="card-body p-2">


<h1>{{property.Id}}</h1>
<h1>{{property.Name}}</h1>
<h1>{{property.Type}}</h1>
<h1>{{property.Price}}</h1>

  </div>
</div>

</div>
